[package]
name = "ms_toollib"
version = "1.4.7"
description = "Algorithms  for Minesweeper"
documentation = "https://docs.rs/ms_toollib/"
license = "MIT"
readme = "readme.md"
keywords = ["minesweeper", "possibility", "solver", "laymine", "3BV"]
edition = "2021"
authors = ["Wang Jianing <wangjianing@88.com>"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
pyo3 = { version ="0.16.5", features = ["abi3-py37", "extension-module"] }
ms_toollib = { path = "../base", features = ["py"] }
itertools = { version ="0.6.0" }
# ms_toollib = { version ="1.3.11", features = ["py"] }

[lib]
name = "ms_toollib"
crate-type = ["cdylib", "lib"]

[package.metadata.maturin]
classifier = [
  "Development Status :: 4 - Beta",
  "License :: OSI Approved :: MIT License",
  "Programming Language :: Rust",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: Implementation :: CPython",
  "Topic :: Software Development :: Libraries",
  "Topic :: Software Development :: Libraries :: Python Modules"
]
maintainer = "eee555"
maintainer-email = "wangjn@88.com"
requires-python = ">=3.7"
project-url = { homepage = "https://github.com/eee555/" }



# [profile.release]
# opt-level = 'z'
# lto = true
# codegen-units = 1
# panic = 'abort'
# 4018

